rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && request.auth.token.admin == true;
    }

    match /partners/{partnerId} {
      allow read, write: if isAdmin();
    }

    match /partnerUpdateRequests/{requestId} {
      allow read, write: if isAdmin();
    }

    // Admin role records are created only by the trusted Cloud Function.
    match /admins/{adminId} {
      allow read, write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
